<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check out</title>
    <link rel="stylesheet" href="/Css/CheckOut.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">


    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>

    <!-- Latest compiled JavaScript -->

    <!-- Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    <div class="container">
        <!-- =============== Navigation ================ -->
        <div class="navigation">
            <div class="menu-btn">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="side-bar">
                <header>
                    <div class="close-btn">
                        <ion-icon name="close-outline"></ion-icon>
                    </div>
                    <img class="logo-leftbar" src="/Image/Apple.jpg" alt="">
                    <h1>Apple Store</h1>
                </header>

                <div class="menu">

                    <div class="item">
                        <a href="/dashboard">
                            <i class="far fa-eye"></i>
                            Dashboard
                        </a>
                    </div>

                    <div class="item">
                        <a href="/">
                            <i class="fas fa-house-user"></i>
                            Home
                        </a>
                    </div>

                    <div class="item">
                        <a class="sub-btn">
                            <i class="fas fa-box-open"></i>
                            Products
                            <i class="fas fa-angle-right dropdown"></i>
                        </a>

                        <div class="sub-menu">
                            <a href="/products" class="sub-item">
                                <i class="far fa-clipboard"></i>
                                Manage Production
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <a class="sub-btn">
                            <i class="fas fa-user-lock"></i>
                            Account
                            <i class="fas fa-angle-right dropdown"></i>
                        </a>

                        <div class="sub-menu">
                            <a href="/accounts" class="sub-item">
                                <i class="far fa-plus-square"></i>
                                Manage account
                            </a>

                            <a href="/accounts/list-employees" class="sub-item">
                                <i class="fas fa-list"></i>
                                List employees
                            </a>

                            <a href="/information" class="sub-item">
                                <i class="fas fa-user"></i>
                                Your information
                            </a>
                        </div>
                    </div>

                    <div class="item">
                        <a href="/check-out">
                            <i class="fab fa-apple-pay" style='font-size:20px'></i>
                            Check Out
                        </a>
                    </div>

                    <div class="item"><a href="/accounts/logout"><i class='fas fa-sign-out-alt'></i>Logout</a></div>
                </div>
            </div>

        </div>


        <!-- ==================== Main ================= -->
        <div class="main">

            <h1>Checkout Item</h1>

            <div class="topbar">
                <div class="cart-topbar">
                    <a href="/carts">
                        <i class='fas fa-shopping-bag' style='font-size:50px; color:black'></i>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-75">
                    <div class="container-checkout">
                        <form action="">

                            <div class="row">
                                <div class="col-50">
                                    <h3>Current Order</h3>
                                    <p><i class="fa fa-user"></i> Employee's name: <strong>Thanh Tuấn</strong></p>
                                    <p><i class="fas fa-plus-circle"></i> Quantity of products: <strong>5</strong></p>
                                    <p><i class="fas fa-dollar-sign"></i> Total price: <strong>$ 3000</strong></p>
                                    <label for="phone"><i class="fa fa-phone"></i> Customer phone number</label>
                                    <input type="number" id="phone" name="phone">
                                    <label for="received"><i class="fas fa-money-bill-wave"></i> Money received ($)</label>
                                    <input type="number" id="received" name="received">
                                    <label for="refunds"><i class="fas fa-money-bill-wave"></i> Money refunds ($)</label>
                                    <input type="number" id="refunds" name="refunds">

                                </div>

                            </div>
                            <!-- <input type="submit" value="Purchase" class="btn"> -->
                            <button type="submit">Purchase</button>
                        </form>
                    </div>
                </div>
                <div class="col-25">
                    <div class="container-cart">
                        <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i>
                                <b>4</b></span></h4>
                        <p><a href="#">Product 1</a> <span class="price">$15</span></p>
                        <p><a href="#">Product 2</a> <span class="price">$5</span></p>
                        <p><a href="#">Product 3</a> <span class="price">$8</span></p>
                        <p><a href="#">Product 4</a> <span class="price">$2</span></p>
                        <hr>
                        <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
                    </div>
                </div>
            </div>


        </div>










    </div>


    <!--======= JavaScript =============  -->
    <script src="/Style/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>



    <!-- Include Bootstrap CSS and JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>